# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 1170550cc0b60e6ca1bef8b41df7c7c46a5e070bc11fe95efb3c61e2e49ea11c1d6da7b86367eca9f95fd39e4deddecd9252fbe74066cb3a08fd2d19feb1238c

test:
  secret_key_base: 2360b12eda17c2b5c5d141c9a8d5420eb89d95c05c4db3ae5321b382fba4431fb60d060bea929b2ec9b9421d5aa3d1b75aa630087ccb05a0eb94f1a1ce609fe2

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
